body,html{
	height:100%;
}
body{ 
	padding:0px; 
	margin:0; 
	background:#FAFCF6; 
	overflow:hidden;
	font-size:12px;
}

.l-link{ display:block; height:26px; line-height:26px; padding-left:10px; text-decoration:underline; color:#333;}
.l-layout-top{background:#102A49; color:White;}
.l-layout-bottom{ background:#E5EDEF; text-align:center;}

#pageloading{position:absolute; left:0px; top:0px; background:white url('../images/loading.gif') no-repeat center; width:100%; height:100%;z-index:99999;}

.l-link{ display:block; line-height:22px; height:22px; padding-left:16px;border:1px solid white; margin:4px;}
.l-link-over{ background:#FFEEAC; border:1px solid #DB9F00;} 
.l-winbar{ background:#2B5A76; height:30px; position:absolute; left:0px; bottom:0px; width:100%; z-index:99999;}

.space{ color:#E7E7E7;}

/* 顶部 */ 
.l-header{ margin:0; padding:0; height:31px; line-height:31px; background:url('../images/top.jpg') repeat-x bottom;  position:relative; border-top:1px solid #1D438B;  }
.l-header-logo{ color:#E7E7E7; padding-left:35px; line-height:26px;background:url('../images/topicon.gif') no-repeat 10px 5px;}
.l-header-welcome{  position:absolute; height:24px; line-height:24px; right:30px; top:2px; color:#E7E7E7;}
.l-header-welcome a{ color:#E7E7E7; text-decoration:none} 
.l-accordion-content {
    overflow-x: hidden;
}

#content{width:99.2%; margin:0 auto; margin-top:4px;}
.content-tree{margin-top:3px;}
#footer{height:32px; line-height:32px; text-align:center;}